/* Entypo pictograms by Daniel Bruce — www.entypo.com */
@font-face {
  font-family: 'Entypo Social';
  src: url('entypo-social.eot?#iefix') format('embedded-opentype'),
       url('entypo-social.woff') format('woff'),
       url('entypo-social.ttf')  format('truetype'),
       url('entypo-social.svg#entypo-social') format('svg');
}


* { margin: 0; padding: 0px; }
ul { padding-left: 20px; list-style-type: square; }
body {
  overflow: hidden;
  background: black url(../img/bg_1920.jpg) no-repeat center center fixed;
  background-size: cover;
  color: white;
  font-family: 'Open Sans', sans-serif;
}

#about a {
  color: white;
  text-decoration: none;
}

#about a:hover {
  text-decoration: underline;
}

#about a:visited {
  color: white;
}

i.icon {
  display: inline-block;
  font-style: normal;
  font-size: 16px;
  font-family: 'Entypo Social', sans-serif;
  line-height: 19px;
  vertical-align: bottom;
}

i.icon.github::before {
  content: "\f300";
}

i.icon.twitter::before {
  content: "\f309";
}

i.icon.linkedin::before {
  content: "\f318";
}
i.icon.linkedin { line-height: 21px; }

i.icon.skype::before {
  content: "\f339";
}

a i.icon {
  padding-right: 4px;
}

#about .bigger {
  line-height: 30px;
  font-size: 32px;
}

#about #location {
  font-size: 13px;
  margin-bottom: 5px;
}

#about img {
  border-radius: 5px;
}

#about .section {
  float: left;
  padding: 10px;
}

#about #contacts {
  clear: both;
  text-align: center;
}

#about #contacts a {
  font-size: 14px;
  padding-right: 22px;
}
#about #contacts a:last-child {
  padding-right: 0px;
}

#about {
  position: absolute;
  top: 70%;
  left: 50%;
  margin-left: -231px;

  padding: 30px;
  width: 400px;

  border: solid 1px #666;
  border-radius: 5px;
  background-color: #000;
  background-color: rgba(0, 0, 0, .5);
  opacity: 0;
  -webkit-transition: opacity 1.2s ease-in-out;
  -moz-transition: opacity 1.2s ease-in-out;

  transition: opacity 1.2s ease-in-out;
}

#about.active, #about:hover {
  opacity: 1;
}
